@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset to ensure flat design. 
    Removes default anti-aliasing issues and sets the base background.
  */
  body {
    @apply bg-background text-foreground;
  }
}

/* Optional: Smooth Scroll Behavior 
  (Only for anchor links, we are not scroll-jacking)
*/
html {
  scroll-behavior: smooth;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}